html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-primary {
    background-color: #05005e !important;
}
.btn-primary {
    background-color: #05005e !important;
    border: 1px solid #05005e !important;
}

.btn-outline-primary {
    color: #05005e !important;
    border-color: #05005e !important;
}
.btn-outline-primary:hover {
    color: white !important;
    background-color: #05005e !important;
    border-color: #05005e !important;
}