@page
@model snackSite.Pages.CRUDProducten.Create

<div class="row">
    <div class="col">
        <h1>Create New Product</h1>
        <form method="POST">
            <div class="form-group">
                <label asp-for="Product.ProductNaam">Name:</label>
                <input asp-for="Product.ProductNaam" class="form-control"/>
                <span asp-validation-for="Product.ProductNaam"></span>

                <label asp-for="Product.Productbeschrijving">Beschrijving:</label>
                <input asp-for="Product.Productbeschrijving" class="form-control"/>
                <span asp-validation-for="Product.Productbeschrijving"></span>

                <label asp-for="Product.ProductCategorie">Categorie:</label>
                <input asp-for="Product.ProductCategorie" class="form-control"/>
                <span asp-validation-for="Product.ProductCategorie"></span>
                
                <label asp-for="Product.ProductPrijs">Prijs:</label>
                <input asp-for="Product.ProductPrijs" class="form-control"/>
                <span asp-validation-for="Product.ProductPrijs"></span>
                
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Create</button>
                <button asp-page-handler="Cancel" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>


