@page
@model snackSite.Pages.AdminModel
@{
}

<div class="container">
	<div class="h1 border-1 border-dark border-bottom pt-1 pb-3">Admin page</div>
	<div class="d-flex flex-row mt-5 ">
		<div class="h2 me-1">price cap  €</div>
		<div class="mt-1" style="width: 300px">
			<input type="text" class="form-control pe-2" style="float: left; width: 50%" placeholder="7.50" />
			<button class="btn btn-primary ps-2" style="float: right; width: 50%">Update</button>
		</div>
	</div>
	<div class="mt-5 mb-5">
		<a class=" text-black d-flex flex-row click justify-content-between border-dark border-bottom" style="text-decoration: none" data-bs-toggle="collapse" data-bs-target="#admin-db">
			<div class="h2 ">Databases</div>
			<img class=" animate-arrow-button" src="./images/icons/chevron-down.svg" style="" alt="arrow icon">
		</a>
		<div class="collapse" id="admin-db">
			<div class="m-5 border-1 border-light">
				<a class=" text-black d-flex flex-row click justify-content-between border-dark border-bottom" style="text-decoration: none" data-bs-toggle="collapse" data-bs-target="#gebruiker-db">
					<div class="h2 ">Gebruikers</div>
					<img class=" animate-arrow-button" src="./images/icons/chevron-down.svg" style="" alt="arrow icon">
				</a>
				<div class="collapse" id="gebruiker-db">
					Hier kun je uiteindelijk gebruikers toevoegen en verweideren
				</div>
				<a class=" text-black d-flex flex-row click justify-content-between border-dark border-bottom" style="text-decoration: none" data-bs-toggle="collapse" data-bs-target="#aanbieder-db">
					<div class="h2 ">Aanbieders</div>
					<img class=" animate-arrow-button" src="./images/icons/chevron-down.svg" style="" alt="arrow icon">
				</a>
				<div class="collapse" id="aanbieder-db">
					Hier kun je uiteindelijk aanbieders toevoegen en verweideren
				</div>
			</div>
			
		</div>

		


	</div>

</div>
