@page
@model IndexModel
@{

	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<div class="d-grid gap-2 col-6 mx-auto">
		<a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
		<a class="nav-link text-dark" asp-area="" asp-page="/Register">Register</a>
	</div>
</div>

