@page
@model snackSite.Pages.Login
@{
	ViewData["Title"] = "Login";
}

<div class="container">

	<h1>@ViewData["Title"]</h1>

	<div class="shadow p-5">
		<form method="post">
			@* <div class="mb-3 form-floating">
			<label for="email" class="form-label">Email</label>
			<input asp-for="Email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
			required>
			</div>
			<div class="mb-3 form-floating">
			<label for="password" class="form-label">Wachtwoord</label>
			<input asp-for="Password" type="password" class="form-control" id="password" required>
			</div> *@

			<div class="form-floating mb-3">
				<input asp-for="Email" type="email" class="form-control" id="floatingInput"
					placeholder="name@example.com">
				<label for="floatingInput">Email</label>
			</div>
			<div class="form-floating">
				<input asp-for="Password" type="password" class="form-control" id="floatingPassword"
					placeholder="Password">
				<label for="floatingPassword">Password</label>
			</div>

			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>
</div>